<header id="header" class="header dark-background d-flex flex-column">
  <i class="header-toggle d-xl-none bi bi-list"></i>

  <div class="profile-img">
    <img src="/assets/img/my-profile-img.png" alt="" class="img-fluid rounded-circle">
  </div>

  <a href="/index.html" class="logo d-flex align-items-center justify-content-center">
    <h1 class="sitename">Xavier Clemente</h1>
  </a>

  <div class="social-links text-center">
     <a href="https://wa.me/50235590833" class="google-plus" target="_blank"><i class="bi bi-whatsapp"></i></a>
    <a href="https://www.linkedin.com/in/xvclemente/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
    <a href="https://github.com/xavierux" class="github" target="_blank"><i class="bi bi-github"></i></a>
  </div>

  <nav id="navmenu" class="navmenu">
    <ul>
       <li><a href="/index.html#hero" class="active"><i class="bi bi-house navicon"></i><span data-i18n="nav.home">Home</span></a></li>
      <li><a href="/index.html#about"><i class="bi bi-person navicon"></i><span data-i18n="nav.about">About</span></a></li>
      <li><a href="/index.html#resume"><i class="bi bi-file-earmark-text navicon"></i><span data-i18n="nav.resume">Resume</span></a></li>
      <li><a href="/index.html#portfolio"><i class="bi bi-images navicon"></i><span data-i18n="nav.portfolio">Portfolio</span></a></li>
      <li><a href="/index.html#contact"><i class="bi bi-envelope navicon"></i><span data-i18n="nav.contact">Contact</span></a></li>
    </ul>
  </nav>
  
  <div class="language-icons text-center">
    <a href="#" onclick="changeLanguage('en', event)" title="English">
      <svg width="30" height="30" viewBox="0 0 30 30" class="lang-icon">
        <!--circle cx="15" cy="15" r="14" fill="#0078D4"/-->
        <circle cx="15" cy="15" r="14" />
        <text x="50%" y="50%" text-anchor="middle" dy=".3em" fill="#FFFFFF" font-size="12">EN</text>
      </svg>
    </a>
    <a href="#" onclick="changeLanguage('es', event)" title="Español">
      <svg width="30" height="30" viewBox="0 0 30 30" class="lang-icon">
        <!--circle cx="15" cy="15" r="14" fill="#CE1126"/-->
        <circle cx="15" cy="15" r="14" />
        <text x="50%" y="50%" text-anchor="middle" dy=".3em" fill="#FFFFFF" font-size="12">ES</text>
      </svg>
    </a>
    <a href="#" onclick="changeLanguage('ca', event)" title="Català">
      <svg width="30" height="30" viewBox="0 0 30 30" class="lang-icon">
        <!--circle cx="15" cy="15" r="14" fill="#FFD700"/-->
        <circle cx="15" cy="15" r="14" />
        <text x="50%" y="50%" text-anchor="middle" dy=".3em" fill="#FFFFFF" font-size="12">CA</text>
      </svg>
    </a>
  </div>
</header>