<header id="header" class="header dark-background d-flex flex-column">
  <i class="header-toggle d-xl-none bi bi-list"></i>

  <div class="profile-img">
    <img src="/assets/img/my-profile-img.png" alt="" class="img-fluid rounded-circle">
  </div>

  <a href="/index.html" class="logo d-flex align-items-center justify-content-center">
    <h1 class="sitename">Xavier Clemente</h1>
  </a>

  <div class="social-links text-center">
     <a href="https://wa.me/50235590833" class="google-plus" target="_blank"><i class="bi bi-whatsapp"></i></a>
    <a href="https://www.linkedin.com/in/xvclemente/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
    <a href="https://github.com/xavierux" class="github" target="_blank"><i class="bi bi-github"></i></a>
  </div>

  <nav id="navmenu" class="navmenu">
    <ul>
       <li><a href="/index.html#hero" class="active"><i class="bi bi-house navicon"></i><span data-i18n="nav.home">Home</span></a></li>
      <li><a href="/index.html#about"><i class="bi bi-person navicon"></i><span data-i18n="nav.about">About</span></a></li>
      <li><a href="/index.html#resume"><i class="bi bi-file-earmark-text navicon"></i><span data-i18n="nav.resume">Resume</span></a></li>
      <li><a href="/index.html#portfolio"><i class="bi bi-images navicon"></i><span data-i18n="nav.portfolio">Portfolio</span></a></li>
      <li><a href="/index.html#contact"><i class="bi bi-envelope navicon"></i><span data-i18n="nav.contact">Contact</span></a></li>
    </ul>
  </nav>
  <select onchange="setLanguage(this.value)">
    <option value="en">English</option>
    <option value="es">Español</option>
  </select>
</header>